flows/WORKING_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LOG_EMAIL_SENT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LOG_EMAIL_FAILED</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Lead_Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Follow-up Needed - {!Loop_Through_Leads.Company}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello {!Get_Lead_Owner.Name},  This is a friendly reminder to follow up with the lead you were assigned on {!Loop_Through_Leads.Follow_up__c}.  📌 Lead Details: - Name: {!Loop_Through_Leads.Name} - Email: {!Loop_Through_Leads.Email} - Company: {!Loop_Through_Leads.Company} - Status: {!Loop_Through_Leads.Status}  Please take the appropriate action today.  Best regards,   Your Salesforce Automation Bot 🤖</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>LOG_EMAIL_FAILED</name>
        <label>LOG EMAIL FAILED</label>
        <locationX>528</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LOG.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Email_Sent_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Email_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email failed to send</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAILED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Sent_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Sent_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Email_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Needed - {!Loop_Through_Leads.Company}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EMAIL_LOG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LOG_EMAIL_SENT</name>
        <label>LOG EMAIL SENT</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LOG.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Email_Sent_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Email_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Needed - {!Loop_Through_Leads.Company}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Email_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hello {!Get_Lead_Owner.Name},  This is a friendly reminder to follow up with the lead you were assigned on {!Loop_Through_Leads.Follow_up__c}.  📌 Lead Details:  Name: {!Loop_Through_Leads.Name}  Email: {!Loop_Through_Leads.Email}  Company: {!Loop_Through_Leads.Company}  Status: {!Loop_Through_Leads.Status}  Please take the appropriate action today.  Best regards, Your Salesforce Automation Bot 🤖</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Sent_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOG.Sent_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EMAIL_LOG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_OwnerId</name>
        <label>Store OwnerId</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>OwnerIdText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Leads.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>WORKING FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WORKING FLOW</label>
    <loops>
        <name>Loop_Through_Leads</name>
        <label>Loop Through Leads</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Todays_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_OwnerId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>EMAIL_LOG</name>
        <label>EMAIL LOG</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Body__c</field>
            <value>
                <elementReference>LOG.Email_Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Sent_To__c</field>
            <value>
                <elementReference>LOG.Email_Sent_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Subject__c</field>
            <value>
                <elementReference>LOG.Email_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LOG.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_By__c</field>
            <value>
                <elementReference>LOG.Sent_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_On__c</field>
            <value>
                <elementReference>LOG.Sent_On__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>LOG.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Email_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Owner</name>
        <label>Get Lead Owner</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Leads.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Todays_Leads</name>
        <label>Todays Leads</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Follow_up__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Todays_Leads</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-04</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Email_To_Send</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Log__c</objectType>
    </variables>
    <variables>
        <name>OwnerIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
